/* .CardShuffle {
  background-color: indianred;

  margin: 0 auto; /* Added */
/* margin-top: 10px; */
/* float: none;  */
/* margin-bottom: 10px;  */
/* height: 400px;
  width: 500px; */
/* overflow: unset; */

/* width: 100%;
  height: 500px;
  object-fit: contain; */
/* } */

.CardShuffle {
  width: 400px;
  height: 400px;
  align-items: center;
  display: block;
  margin-left: 45px;
}

.dogCont {
  width: 400px;
  height: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: scale-down;
  right: 0;
  left: 0;
  bottom: 0;
}

.ButtonText {
  margin: 10px;
}

.myCont {
  resize: both;

  height: 500px;
  width: 500px;
  padding: 5px;
  object-fit: contain;
}

.headContainer {
  align-items: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
